/* #projects .container{
	min-height: 90vh;
} */

#projects .projects {
	cursor: pointer;
	flex-direction: column-reverse;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 0;
}

#projects .projects-header h1 {
	margin-bottom: 0px;
	padding: 30px 0;
}

#projects .all-projects {
	display: flex;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	width: 1400px;
	
}

#projects .project-item {
	display: grid;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 150px !important;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #8a0f18 0%, #8a0f18 100%);
	color: white;
}

#projects .project-info h1 {
	font-size: 3rem;
	font-weight: 500;
}

#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#projects .project-info p {
	color: white;
}

#projects .project-img {
	flex-basis: 50%;
	height: 250px !important;
	overflow: hidden;
	position: relative;
}
#projects .project-img img{
	
	object-fit: contain !important;
	
}

#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/* background-image: linear-gradient(60deg, #000 0%, #000 100%); */
	opacity: 0.7;
}

#projects .project-img img {
	transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

@media (max-width: 980px){
	#projects .all-projects {
		padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}
#projects .project-item {
	width: 100%;
	
}
} 


@media (max-width: 767px){
	#projects .all-projects {
		padding: 0 20px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	width: 100%;
}
#projects .project-item {
	width: 100%;
	display: block;
	
}
}